body {
  color: gray;
  background-color: rgb(255, 255, 240); 
  
}
h1 {
font-size: 35px;
border-bottom: 2px solid #000;
}

h2 {
  
border-bottom: 1px dashed #666;
  }
p {
  font-size: 16px;
  color: rgb(0, 0, 139);
  }

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}

.profile-image {
    border: 2px dotted; 
    width: 200px; 
    height: 200px; 
}

.home {
  
  background-color: grey;
  
  }


.image  {

    padding: 20px; 
    margin: 10px;

  }
a {
    display: inline-block; 
    padding: 5px 10px; 
    border-radius: 5px; 
    background-color: #f0f0f0;
    text-decoration: none; 
}

header {
    background-color: #483D8B;
}

footer {
    background-color: #483D8B;
}

aside {
    background-color: #2F4F4F;
}
